body {
    background-color: orange;
}

img {
    width: 225px;
    height: 225px;
    border: 10px solid orangered;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}